table {
  margin: 50px auto 0;
}
h2 {
  text-align: center;
}
td{
  &.card {
    width: 100px;
    height: 140px;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    background-color: white;
    box-shadow: rgb(128, 128, 128)5px 5px;
  }
  &.back {
    background-image: url(card.png);
    background-size: 100px 140px;
  }
}
#start {
  display: block;
	width: 100px;
	padding: 0.8em;
	text-align: center;
  text-decoration: none;
  font-size: 1em;
	color: rgb(91, 197, 230);
	border: 2px solid rgb(91, 197, 230);
	border-radius: 10px;
  transition: .4s;
  margin: 0 auto;
  &:hover {
    background: rgb(91, 197, 230);
    color: #fff;
  }
}